
      

  h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
  }

  .navbar, .home-callout {
    /* Gradient provided by @_ighosh at uiGradients.com */
    background: #718e3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#a4c171, #718e3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#a4c171,#718e3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  .navbar {
    border: none;
  }

  
  .navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  .navbar-default .navbar-toggle {
    border: 2px solid white;
  }
  
  .actividades {
    margin-top: 50px;
  }
  
  .actividades h2, .actividades h5 {
    color: #8a118a;
  }
  
  .actividades p {
    color: #87891a;
  }
  
  .actividades h4 {
    color: #ff791e;
  }

  .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
    background-color: #a4c171;
    cursor:pointer;
}
.dropdown-submenu {
    position:relative;
    cursor:pointer;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
    cursor:pointer;
    
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
    background-color: #a4c171;
    cursor:pointer;
} 

.dropdown-submenu > a:focus, .dropdown-submenu > a:hover, .dropdown-submenu:focus>a, r, .dropdown-submenu:hover>a,
.dropdown-menu > li a:hover,
.dropdown-menu > li a:focus {
   background-color: #718e3e; 
  } 
