body {
  background-image:
    url("fotos/fondo4.jpg");
      background-size: cover;
      height: 100%;
      }
      
  .construction {
    padding-top: 100px;
      }
      
  .icon {
    text-align: center;
  }
  
  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }
  
  i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px black;
    padding: 0.5em 0.6em;
  
  }
  
  .contact-icons {
    padding-top: 50px;
  }
  
  #federica {
    height: 300px;
    float: right;
    margin-left: 10px;
  }

  h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
  }

  .navbar, .home-callout {
    /* Gradient provided by @_ighosh at uiGradients.com */
    background: #718e3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#a4c171, #718e3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#a4c171,#718e3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  .navbar {
    border: none;
  }

  
  .navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
  }

  .navbar-light .navbar-brand, .navbar-light .navbar-brand {
    color: black;
}
  
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  .navbar-default .navbar-toggle {
    border: 2px solid white;
  }
  
  .nav-link {
    font-size: 15px;
  }

  .home-callout {
    color: white;
    text-shadow: 1px 1px 1px #000000;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: auto;
    grid-template-areas: 
      ". header image"
      ". text image";
  }

  .actividades_link {
    text-decoration: none;
    color: white;
    border-radius: 25px;
    background-color: rgb(64, 128, 0, 0.6);
    padding: 10px;
    margin: 50px;
  }

  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }

  .atenciones {
    font-size: 50px;
    padding: 10px;
  }

  .atenciones-txt {
    text-align: justify;
  }

  .atenciones-title {
    border-radius: 10px;
    background-color: rgb(64, 128, 0, 0.6);
    color: white;
    padding: 5px;
    margin: 10px;
    display: inline-block;
  }

  #more {display: none;}
  #more2 {display: none;}
  #more3 {display: none;}
  #more4 {display: none;}
  #more5 {display: none;}
  #more6 {display: none;}
  #more7 {display: none;}
  #more8 {display: none;}
  #more9 {display: none;}

  #myBtn, #myBtn2, #myBtn3, #myBtn4, #myBtn5, #myBtn6, #myBtn7, #myBtn8, #myBtn9{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: blue;
    font-style: italic;
    text-decoration: underline;
}

  .col {
    margin-bottom: 30px;
  }

  
  .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
    background-color:#a4c171;
    cursor:pointer;
}
.dropdown-submenu {
    position:relative;
    cursor:pointer;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
    cursor:pointer;
    
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
    background-color: #a4c171;
    cursor:pointer;
} 

.dropdown-submenu > a:focus, .dropdown-submenu > a:hover, .dropdown-submenu:focus>a, r, .dropdown-submenu:hover>a,
.dropdown-menu > li a:hover,
.dropdown-menu > li a:focus {
   background-color: #718e3e; 
  } 

  @media only screen and (max-width:620px) {
    /* For mobile phones: */
    .contact-links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
      "instagram whatsapp"
      "email youtube"  
      "facebook facebook";
    }
    .home-callout {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
      "image"  
      "header"
      "text";
    }
  }
  /* START CONTACT SECTION */

  #contact {
    background-image:linear-gradient(to bottom,#a4c171, #718e3e);
    text-align: center;
  }

  #contact-hd {
    font-family: 'Raleway', sans-serif;
    color: white;
    padding:20px;
    border-bottom: 2px solid white;
  }

.contact-links {
    justify-content: center;
    align-content: center;
    padding: 20px 0 50px 0;
  }

  .btn_contact {
    padding:20px;
    color:white;
    font-size: 25px;
    
    font-weight: bold;
    margin-top: 20px;
    transition: transform 0.3s ease-out;
    margin-bottom: 50px;
  }

  .btn_contact:hover {
    transform: translateY(8px);
    color: #f2f2f2;
  }
/* END CONTACT SECTION */