body {
    background-image: linear-gradient(
      to right,
      rgba(255, 242, 230, 0.8),
      rgba(255, 189, 128, 0.8)
    ),
      url("sunset.png");
      background-size: cover;
      height: 100%;
      }
      
  .construction {
    padding-top: 100px;
      }
      
  .icon {
    text-align: center;
  }
  
  a {
    color: black;
  }
  
  i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px black;
    padding: 0.5em 0.6em;
  
  }
  
  .contact-icons {
    padding-top: 50px;
  }
  

  h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
  }

  .navbar, .home-callout {
    /* Gradient provided by @_ighosh at uiGradients.com */
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  .navbar {
    border: none;
  }

  
  .navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  .navbar-default .navbar-toggle {
    border: 2px solid white;
  }
  
  .home-callout {
    color: white;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 20px;
    
  }

  .principal-text {
    display: block;
    font-size: 20px;
    margin-top: 50px;

  }